body {
    background-color: white;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__logo {
    display: block;
    height: 105px;
    width: 136px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
    gap: 33px;
    width: 391.48px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    color: #000;
    font-size: 18px;
    text-underline-offset: 3px;
}

.header__link_active .header__links-list-item {
    text-decoration: none;
}

.address {
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}

.address_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

.address_item {
    font-size: 18px;
    font-weight: 400;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: -137px;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
}

.cover__title {
    min-height: 385px;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    color: #fff;
    opacity: 0.999; 
    margin-bottom: 106px;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    margin-bottom: 20px;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
    margin-right: -30px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.999; 
    font-size: 22px;
}

.cover__description_text {
    font-weight: 400;
    line-height: 28px;
    word-spacing: 19px;
}

.bet-button {
    padding: 12px 32px 11px 31px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1.5px;
}

.lots {
    margin: 180px 24px 120px;
}

.lots_heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 27px 40px;
}

.lots_card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
}

.lots_card_list_item {
    width: 334px;
    min-height: 596px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card__title {
    color: #fff;
    opacity: 0.999; 
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline 1px solid;
    line-height: 119%;
    text-underline-offset: 3px;
}

.card__text {
    color: #fff;
    opacity: 0.999; 
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    display: block;
    color: #000;
    font-size: 20px;
    text-decoration: underline 1px solid;
    text-underline-offset: 4px;
    margin: 30px 0 0 40px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    width: 1052px;
    margin: 0 24px 180px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin: 34px 0 0 47px;
}

.about__logo-image {
    width: 148px;
}

.about__column-position-end {
    align-self: end;
    width: 693px;
    padding: 135px 0 0 25px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 0 50px;
}

.footer__address_item {
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-underline-offset: 4px;
    font-size: 18px;
}

.footer__social-list {
    justify-self: end;
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

.footer__social-link {
    text-decoration: none;
}